<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>欠席回数カウンター</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/" class="title">欠席回数カウンター</a></li>
			<% if session[:user_id] %>
				<div class="bottom-menu">
				<li>
					<div class="nav-items">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="size-5">
  						<path fill-rule="evenodd" d="M7.84 1.804A1 1 0 0 1 8.82 1h2.36a1 1 0 0 1 .98.804l.331 1.652a6.993 6.993 0 0 1 1.929 1.115l1.598-.54a1 1 0 0 1 1.186.447l1.18 2.044a1 1 0 0 1-.205 1.251l-1.267 1.113a7.047 7.047 0 0 1 0 2.228l1.267 1.113a1 1 0 0 1 .206 1.25l-1.18 2.045a1 1 0 0 1-1.187.447l-1.598-.54a6.993 6.993 0 0 1-1.929 1.115l-.33 1.652a1 1 0 0 1-.98.804H8.82a1 1 0 0 1-.98-.804l-.331-1.652a6.993 6.993 0 0 1-1.929-1.115l-1.598.54a1 1 0 0 1-1.186-.447l-1.18-2.044a1 1 0 0 1 .205-1.251l1.267-1.114a7.05 7.05 0 0 1 0-2.227L1.821 7.773a1 1 0 0 1-.206-1.25l1.18-2.045a1 1 0 0 1 1.187-.447l1.598.54A6.992 6.992 0 0 1 7.51 3.456l.33-1.652ZM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
						</svg>
						<a href="/">設定</a>
					</div>
				</li>
				<li>
					<div class="nav-items">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="size-5">
						<path fill-rule="evenodd" d="M17 4.25A2.25 2.25 0 0 0 14.75 2h-5.5A2.25 2.25 0 0 0 7 4.25v2a.75.75 0 0 0 1.5 0v-2a.75.75 0 0 1 .75-.75h5.5a.75.75 0 0 1 .75.75v11.5a.75.75 0 0 1-.75.75h-5.5a.75.75 0 0 1-.75-.75v-2a.75.75 0 0 0-1.5 0v2A2.25 2.25 0 0 0 9.25 18h5.5A2.25 2.25 0 0 0 17 15.75V4.25Z" clip-rule="evenodd" />
						<path fill-rule="evenodd" d="M14 10a.75.75 0 0 0-.75-.75H3.704l1.048-.943a.75.75 0 1 0-1.004-1.114l-2.5 2.25a.75.75 0 0 0 0 1.114l2.5 2.25a.75.75 0 1 0 1.004-1.114l-1.048-.943h9.546A.75.75 0 0 0 14 10Z" clip-rule="evenodd" />
					</svg>
					<a href="/logout">ログアウト</a>
					</div>
				</li>
				</div>
			<% end %>
		</ul>
	</nav>

	<main class="page-container">
		<%= yield %>
	</main>
	<script type="module">
  		import 'https://esm.run/@material/web/all.js';
	</script>
</body>
</html>
