<%# <link rel="stylesheet" href="/css/register.css"> %>
<div class="body">
    <h2>科目を登録</h2>
    <form method="post" action="/subject-register" enctype="multipart/form-data">
        <h3>科目名</h3>
        <div class="form-area">
        <input type="text" placeholder="科目名を入力" required name="subject_name">
        </div>
        <div>
        <h3>授業回数</h3>
        <input type="number" min="1" placeholder="授業回数を入力" required name="class_count">
        </div>
        <button type="submit" class="button">登録</button>
    </form>
</div>
