<link rel="stylesheet" href="/styles/settings.css">
<div class="subject-list">
    <h3>設定</h3>
    <form method="post" action="/settings">
    <h4>単位取得に必要な出席基準</h4>

    <div class="radio-group">
        <label class="option">
        <input type="radio" name="absent_ratio" value="0.66" checked>
        <span>66%（2/3以上）</span>
        </label>

        <label class="option">
        <input type="radio" name="absent_ratio" value="0.70">
        <span>70%</span>
        </label>

        <label class="option">
        <input type="radio" name="absent_ratio" value="custom">
        <span>カスタマイズ</span>
        </label>
    <input
        type="number"
        min="0"
        max="100"
        name="absent_ratio_custom"
        placeholder="例: 75"
    >
        </div>

  <button type="submit">保存</button>
</form>
