<link rel="stylesheet" href="/styles/signup.css">
<h1>登録</h1>
    <div class="signupform">
      <div class="card">
        <div class="title">
        </div>
        <form action="/signup" method="post">
          <input type="email" name="email" placeholder="メールアドレス" required>
          <input type="password" name="password" placeholder="パスワード" required>
          <input type="password" name="password_confirmation" placeholder="パスワードの確認" required>
          <input type="submit" value="アカウント登録">
        </form>
        <p class="footer">すでにアカウントをお持ちの方は<a href="/login">こちら</a></p>
      </div>
    </div>
