<link rel="stylesheet" href="/css/signup.css">
<div class="body">
    <div class="signup-form">
      <h1>登録</h1>
        <div class="title">
        </div>
        <form action="/signup" method="post">
          <input type="email" name="email" placeholder="メールアドレス" required>
          <input type="password" name="password" placeholder="パスワード" required>
          <input type="password" name="password_confirmation" placeholder="パスワードの確認" required>
          <button type="submit">アカウント登録</button>
        </form>
        <p class="footer">すでにアカウントをお持ちの方は<a href="/login">こちら</a></p>
    </div>
</div>
