h3 {
  margin: 0;
}
.subject-item {
  border: 1px solid #ccc;
  padding: 18px;
  margin: 10px;
  border-radius: 10px;
  width: 20%;
  position: relative;
  font-size: 90%;
}
.subject-list {
  display: flex;
  flex-wrap: wrap;
}
.subject-register-button {
  border: 2px dashed #ccc;
  padding: 18px;
  margin: 10px;
  border-radius: 10px;
  width: 23%;
  height: 16rem;
  position: relative;
  font-size: 110%;
  background-color: transparent;
  font-weight: bold;
}
.subject-register-button:hover {
  background-color: #f0f0f0;
}

.record-absence-button {
  padding: 6px 10px;
  width: 100%;
  height: 36px;
  background-color: #f0f0f0;
  border: 1px solid #888;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
p {
  margin: 8px 3px;
}
.edit-button-container {
  display: flex;
  justify-content: flex-end;
}
.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  font-size: large;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
}
.edit-button:hover {
  background-color: #f0f0f0;
}

.filter-container {
  margin: 15px 0;
}
.filter-day-button {
  width: 5%;
  margin: 2px;
  padding: 9px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #f0f0f0;
  border: 1px solid #888;
  cursor: pointer;
}
.filter-day-button.selected {
  background-color: #d0d0d0;
}
