h3 {
  margin-top: 0;
}
.subject-item {
  border: 1px solid #ccc;
  padding: 18px;
  margin: 10px;
  border-radius: 10px;
  width: 18%;
  position: relative;
}
.subject-list {
  display: flex;
}
.subject-register-button {
  padding: 6px 10px;
  height: 36px;
  background-color: #f0f0f0;
  border: 1px solid #888;
  border-radius: 3px;
  cursor: pointer;
}
.record-absence-button {
  padding: 6px 10px;
  width: 100%;
  height: 36px;
  background-color: #f0f0f0;
  border: 1px solid #888;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}
p {
  margin: 8px 3px;
}
.edit-button-container {
  display: flex;
  justify-content: flex-end;
}
.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  font-size: large;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
}
.edit-button:hover {
  background-color: #f0f0f0;
}

.modal {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  margin-top: 5%;
  width: 70%;
  max-width: 500px;
  min-width: 300px;
  background-color: #fff;
  border-radius: 15px;
  padding: 3%;
  position: relative;
  display: flex;
  flex-direction: row;
}
.close-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  font-size: large;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
}
.close-button:hover {
  background-color: #f0f0f0;
}

input[type="text"],
input[type="number"] {
  width: 97%;
  height: 30px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.modal-content button {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  border: 1px solid #888;
  border-radius: 5px;
  cursor: pointer;
}
