.loginform {
  border-radius: 10px;
  padding: 4%;
  border: 1px solid #ccc;
  width: 100%;
}
.body {
  padding: 3% 30%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
.loginform h1 {
  border-bottom: #ccc 2px solid;
  margin-top: 0;
}

input[type="email"],
input[type="password"] {
  width: 97%;
  padding: 8px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}
button {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  border: 1px solid #888;
  border-radius: 5px;
  cursor: pointer;
}
.footer a {
  text-decoration: underline;
}
