.setting-form {
  border-radius: 10px;
  padding: 4%;
  border: 1px solid #ccc;
  width: 100%;
}
.body {
  padding: 3% 30%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
h3 {
  margin-top: 0;
}
.button {
  padding: 6px 10px;
  height: 30px;
  background-color: #f0f0f0;
  border: 1px solid #888;
  border-radius: 5px;
  cursor: pointer;
}
