.page-container {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  min-height: 80vh;
  align-items: flex-start;
}
.register-form {
  width: 100%;
  max-width: 500px;
}

h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.submit-button {
  width: 20%;
  height: 45px;
  background-color: var(--main-color);
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 25px;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-size: large;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.day-button {
  width: 15%;
  height: 40px;
  margin: 0 2.5px;
  background-color: #fff;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: bold;
}
.day-button.selected {
  background-color: var(--main-color);
  color: #fff;
}
.day-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.day-selection {
  display: flex;
  gap: 10px;
  align-items: center;
}
.input-group {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
  margin-bottom: 0;
}
.input-group svg {
  transform: translateY(-8px);
}
svg {
  width: 24px;
  height: 24px;
}
