a {
  text-decoration: none;
  color: inherit;
}
nav li {
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 0 8px;
  font-size: large;
  font-weight: bold;
}
ul {
  padding-left: 0;
}
