.subject-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 15%;
}
.subject-list {
  display: flex;
}

button {
  padding: 6px 10px;
  border: 1px solid #000;
  border-radius: 7px;
  cursor: pointer;
}
