h3 {
  margin-top: 0;
}
.subject-item {
  border: 1px solid #ccc;
  padding: 18px;
  margin: 10px;
  border-radius: 10px;
  width: 18%;
  position: relative;
}
.subject-list {
  display: flex;
}

.record-absence-button {
  padding: 6px 10px;
  width: 100%;
  height: 36px;
  background-color: #f0f0f0;
  border: 1px solid #888;
  border-radius: 6px;
  cursor: pointer;
}
