.radio-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
input[type="text"],
input[type="number"],
select {
  width: 50rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
